/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 239, 219);
  display: flex;
  flex-flow: column;
}

#header-bar {
  width: 100%;
  height: 30px;
  background-color: #333;
}

h1 {
  position: relative;
  top: 17px;
  font-family: "Parisienne";
  font-size: 50px;
  text-align: center;
  color: #555;
}

#h1-underline {
  width: 250px;
  margin: 0 auto;
  border-bottom: 4px #555 solid;
  margin: 0 auto 40px auto;
}

#newbook-btn-line {
  display: flex;
  justify-content: center;
}

#newbook-btn-line p {
  font-family: "Parisienne";
  font-size: 26px;
  margin: 16px;
}

#btn-newbook {
  display: block;
  content: url(./img/plus.png);
  height: 70px;
  filter: invert(20%);
  transform: translateY(2px) translateX(5px);
}

/* Modal input window */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 530px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.542);
  box-shadow: 2px 3px 20px black, 0 0 50px #ffd1a6 inset;
  z-index: 7;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.hidden {
  opacity: 0;
  z-index: 0;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
}

#close-modal {
  font-size: 58px;
  transform: none;
}

.book-settings {
  position: relative;
  left: 18px;
  top: 13px;
  content: url(./img/settings.png);
  height: 20px;
  width: 20px;
  filter: invert(20%);
}

.close-window {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  color: #555;
  cursor: pointer;
  border: none;
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 500;
  transform: translateX(10px) scaleY(0.9);
}

#form-container {
  padding: 50px;
}

.form-group {
  text-align: center;
  font-family: "Parisienne";
  font-size: 30px;
  color: #555;
  margin-top: 10px;
}

.form-group input {
  font-family: "Times New Roman";
  color: #555;
  border: 1px #333 solid;
  border-radius: 8px;
  font-size: 30px;
  width: 365px;
  height: 36px;
}

#form-group-read {
  margin-top: 20px;
}

/* Read toggle slider */
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 27px;
  border-radius: 50px;
  outline: none;
  background-color: rgb(255, 159, 159);
  transition: all 0.7s;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #333;
  border-radius: 50px;
  transition: all 0.7s;
}

input:checked {
  transition: all 0.7s;
  background-color: greenyellow;
}

input:checked:before {
  transition: all 0.7s;
  transform: translate(100%);
}

#nb-read {
  transform: translateY(5px);
  margin-left: 15px;
}

/* Grid */
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 75.8vh;
}

.book {
  background-color: white;
  min-height: 430px;
  width: 300px;
  margin: 40px auto 20px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.542);
  box-shadow: 2px 3px 20px black, 0 0 50px #ffd1a6 inset;
  color: #555;
  position: relative;
}

.book .book-info {
  font-size: 26px;
  word-wrap: break-word;
}

.book p {
  font-family: "Parisienne";
  font-size: 30px;
}

.book .book-info {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 16px;
}

.book input[type="checkbox"] {
  margin: 0 auto 10px auto;
}

.book input[type="checkbox"]::before {
  top: 1px;
}

/* Save btn */
input[type="button"] {
  font-size: 30px;
  display: block;
  width: 160px;
  font-family: "Parisienne";
  margin: 30px auto 0 auto;
}

/* Footer */
#footer-spacer {
  /* min-height: 75.6vh; */
}

#footer-container {
  width: 100%;
  height: 40px;
  background-color: #333;
}

footer {
  width: 224px;
  margin: 2px auto auto auto;
}

span {
  font-family: "Parisienne";
  font-size: 1.3rem;
  color: rgb(255, 239, 219);
  text-decoration: underline;
  text-shadow: 1px 1px #333;
  display: inline-block;
  transform: scaleY(0.8);
}

svg {
  height: 22px;
  width: 22px;
  position: relative;
  top: 6px;
  left: 5px;
  fill: rgb(255, 239, 219);
}

/* Animations */

/* Add book btn */
#icon-plus:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}

#icon-plus {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

/* Git icon */
svg {
  transition: transform 0.3s ease-in-out;
}
svg:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Media Queries */
@media only screen and (max-width: 946px) {
  #grid-container {
    grid-template-columns: 1fr;
  }
}
